# Loại trừ tất cả mọi thứ mặc định
/*

# Ngoại trừ các file và thư mục cần đẩy lên git
!.env.example
!.gitignore
!db.sqlite3
!manage.py
!requirements.txt
!run_network_server.bat
!run_server.bat
!SODO_TONGQUAN.mmd
!env/
!hotel/
!hotel_management/
!static/
!templates/
!venv/
